@charset "UTF-8";

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: horta;
  font-display: swap;
  src: url("../fonts/horta.woff2") format("woff2"), url("../fonts/horta.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Указываем box sizing */

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
  color: #000000;
  font-size: 18px;
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body::-webkit-scrollbar {
  width: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 1632px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 3;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.header__menu {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
  -moz-column-gap: 15px;
       column-gap: 15px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.header__menu * {
  pointer-events: none;
}

.header__menu svg {
  transition: 0.2s linear;
}

.header__menu:hover svg {
  transform: rotate(45deg);
}

.header__menu .close-menu {
  opacity: 0;
  position: absolute;
  left: 0;
}

.header__menu.active .open-menu {
  opacity: 0;
}

.header__menu.active .close-menu {
  opacity: 1;
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 107px;
  height: 29px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__lang {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.header__lang-item {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
  transition: 0.15s linear;
}

.header__lang-item.active {
  color: #ffffff;
  font-weight: 400;
}

.header__lang-item:hover:not(.active) {
  color: #ffffff;
}

.header__nav {
  position: absolute;
  left: -100%;
  right: 0;
  top: 0;
  height: 100vh;
  min-height: 700px;
  color: #ffffff;
  padding-top: 160px;
  transition: left 0.85s ease;
  pointer-events: none;
}

.header__nav.active {
  left: 0;
  pointer-events: unset;
}

.header__nav::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  max-width: 560px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  z-index: 1;
  top: 0;
  left: 0;
}

.header__nav nav {
  position: relative;
  z-index: 2;
  max-width: 400px;
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.header__nav-link {
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
}

.header__nav-link::before {
  position: absolute;
  content: "";
  left: 0;
  top: 105%;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: 0.2s linear;
}

.header__nav-link:hover::before {
  width: 100%;
}

.header__nav-link:hover {
  text-shadow: 0 0 3px #ffffff;
}

.header__lang-down {
  position: relative;
  display: none;
  font-size: 16px;
}

.header__lang-other {
  position: absolute;
  top: 170%;
  left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease;
}

.header__lang-other.active {
  max-height: 42px;
}

.footer {
  background-color: #000000;
}

.footer__container {
  padding: 200px 0 50px 0;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__item {
  color: #ffffff;
}

.footer__item-link {
  position: relative;
}

.footer__item-link::before {
  position: absolute;
  content: "";
  left: 0;
  top: 105%;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: 0.2s linear;
}

.footer__item-link:hover::before {
  width: 100%;
}

.mainbody .js-anim {
  opacity: 0;
}

.hero {
  height: 100vh;
  background: url("../img/mainBG.jpg") center no-repeat;
  background-size: cover;
  min-height: 700px;
}

.hero .container {
  height: 100%;
}

.hero__container {
  padding-top: 88px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero__intro {
  margin-top: auto;
  text-align: center;
}

.hero__intro-decor {
  max-width: 340px;
  display: inline-block;
  margin-bottom: 40px;
}

.hero__intro-decor svg {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero__title {
  position: relative;
  font-size: 250px;
  font-family: horta;
  background: linear-gradient(259.49deg, rgba(255, 255, 255, 0.1) 25.51%, rgba(255, 255, 255, 0.2) 59.05%, #FFFFFF 71.37%, rgba(255, 255, 255, 0.14) 83.69%, rgba(255, 255, 255, 0.11) 104.92%);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.hero__text {
  margin-top: 40px;
  font-weight: 300;
  color: #ffffff;
  font-size: 24px;
  line-height: 120%;
}

.hero__elems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 105px;
}

.hero__social {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.hero__social span {
  color: #ffffff;
  letter-spacing: 0.35em;
  font-weight: 300;
}

.hero__social-item {
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero__social-item:hover {
  transform: scale(1.08);
}

.hero__more-link {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.15s linear;
  letter-spacing: 0.35em;
}

.hero__more-link:hover {
  color: #ffffff;
}

.prison {
  height: 100vh;
  min-height: 600px;
}

.prison__container {
  height: 100%;
}

.prison__items {
  position: relative;
  display: flex;
  height: 100%;
  background: url("../img/prisonBG.jpg") center no-repeat;
  background-size: cover;
  flex-wrap: wrap;
}

.prison__items::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  z-index: 1;
}

.prison__item {
  position: relative;
  cursor: pointer;
  z-index: 2;
  width: 25%;
  height: 100%;
  color: rgba(255, 255, 255, 0.5);
}

.prison__item img:not(.decor) {
  opacity: 0;
  transition: 0.15s linear;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prison__item:hover img:not(.decor) {
  opacity: 1;
}

.prison__item:hover {
  color: #ffffff;
}

.prison__item * {
  pointer-events: none;
}

.prison__item-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 289px;
  transition: 0.15s linear;
  font-size: 50px;
  font-family: Horta;
  white-space: nowrap;
}

.prison__item-title span {
  position: absolute;
  top: -20px;
  right: -20px;
}

.slider {
  position: relative;
  height: 100vh;
  min-height: 700px;
  background-color: #000000;
}

.slider .container {
  height: 100%;
}

.slider__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  display: none;
}

.slider__content.active {
  display: flex;
}

.slider__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider__nav {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-width: 150px;
  position: relative;
  z-index: 1;
}

.slider__nav-tab {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.2em;
  transition: 0.15s linear;
  color: rgba(255, 255, 255, 0.5);
}

.slider__nav-tab.active {
  color: #ffffff;
  pointer-events: none;
}

.slider__nav-tab:hover {
  color: #ffffff;
}

.slider__items {
  overflow-x: hidden;
  height: 100%;
  max-height: 700px;
  width: 75%;
  margin-right: 0;
}

.slider__wrapper {
  transition: 0.75s cubic-bezier(0.2, 0.6, 0, 1) !important;
  align-items: center;
  will-change: transform;
}

.slider__item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.slider__item-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider__item-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: none;
  filter: brightness(0.9);
  transition: 0.15s linear;
}

.slider__item-wrapper img:hover {
  filter: brightness(1);
}

.slider__item-img {
  position: absolute;
  width: 100%;
  transition: 0.2s linear !important;
}

.slider__item-img:nth-child(1) {
  max-width: 1000px;
  height: 550px;
  top: 50px;
  left: 0;
}

.slider__item-img:nth-child(2) {
  max-width: 300px;
  height: 460px;
  bottom: 50px;
  right: 25%;
}

.slider__item-img:nth-child(3) {
  max-width: 300px;
  height: 452px;
  top: 0;
  right: -20px;
}

.slider__item-img:hover span {
  opacity: 1;
}

.slider__item span {
  display: inline-block;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
  font-style: italic;
  opacity: 0;
  transition: all 1s ease;
  margin-top: 20px;
}

.slider__item:nth-child(2n+2) .slider__item-img:nth-child(1) {
  top: 100px;
  left: 0;
}

.slider__item:nth-child(2n+2) .slider__item-img:nth-child(2) {
  bottom: auto;
  top: 0;
  right: 50%;
}

.slider__item:nth-child(2n+2) .slider__item-img:nth-child(3) {
  top: auto;
  bottom: 50px;
  right: -20px;
}

.progress-bar {
  position: relative;
}

.progress-bar .progress-line {
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  width: 100%;
  background-color: #000000;
  transition: 0.2s linear;
}

.partners {
  background-color: #000000;
}

.partners__container {
  padding-top: 100px;
  padding-bottom: 30px;
}

.partners__title {
  text-align: center;
  font-size: 70px;
  margin-bottom: 80px;
  font-family: Horta;
  color: #ffffff;
}

.partners__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 140px;
  grid-row-gap: 30px;
}

.partners__item {
  -ms-grid-column-span: 1;
  grid-column: 1 span;
  height: 230px;
}

.partners__item img {
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: brightness(0.5);
  transition: 0.15s linear;
}

.partners__item:hover img {
  filter: brightness(1);
}

.map {
  position: fixed;
  overflow: hidden;
  top: 0px;
  bottom: 0px;
  width: 100%;
  transform: translateY(0px);
  transition: all 0.4s ease 0s;
  will-change: transform;
}

.map.active {
  transform: translateY(-30%);
}

.map__container {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.gulag-html,
.innermap {
  min-height: unset;
  height: unset;
  background-color: #000000;
}

.innermap::-webkit-scrollbar {
  width: 0;
}

.info {
  position: absolute;
  top: 30%;
  width: 100vw;
  min-height: 70%;
  background-color: #14171a;
  overflow: scroll;
  will-change: transform;
  z-index: 1;
  color: #ffffff;
  opacity: 0;
  pointer-events: none;
  -webkit-animation-name: none;
          animation-name: none;
}

.info.active {
  opacity: 1;
  pointer-events: unset;
}

@-webkit-keyframes upBlock {
  0% {
    top: 100vh;
  }

  100% {
    top: 30%;
  }
}

@keyframes upBlock {
  0% {
    top: 100vh;
  }

  100% {
    top: 30%;
  }
}

.info::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.info__container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 100px;
}

.info__title {
  font-family: Horta;
  margin-bottom: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.info__content {
  display: flex;
  justify-content: space-between;
}

.info__content-data {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: 800px;
  margin-right: 30px;
}

.info__content-col {
  display: flex;
  flex-direction: column;
}

.info__content-col.row {
  flex-direction: row;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.info__content-col.images {
  margin-top: 40px;
}

.info__content-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.info__content-text {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 120%;
}

.info__content-text p:not(:last-child) {
  margin-bottom: 20px;
}

.info__content-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.info__content-images img {
  display: block;
  -ms-grid-column-span: 1;
  grid-column: 1 span;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.info__content-grafic {
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}

.info__content-line {
  display: flex;
  align-items: center;
  height: 25px;
}

.info__content-date {
  position: relative;
  font-size: 12px;
  font-weight: 300;
  padding: 2px 0;
  padding-right: 5px;
  height: 100%;
  display: flex;
  align-items: center;
}

.info__content-date::before {
  position: absolute;
  content: "";
  top: -1px;
  right: 0;
  bottom: -1px;
  width: 1px;
  background-color: #ffffff;
}

.info__content-count {
  width: 0;
  height: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  border-right: 1px solid #ffffff;
  transition: 3s linear;
}

.info__content-count span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  margin-left: 10px;
  font-size: 16px;
  white-space: nowrap;
}

.close-content-map {
  top: 40px;
  right: 0;
  position: absolute;
  cursor: pointer;
}

.close-content-map svg {
  pointer-events: none;
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: #000000;
}

.preloader__item {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 2px;
}

.preloader__item span {
  -webkit-animation: preloadAnim 1s linear infinite;
          animation: preloadAnim 1s linear infinite;
}

.preloader__item span:nth-child(1) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.preloader__item span:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.preloader__item span:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes preloadAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes preloadAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1650px) {
  .container {
    max-width: 1400px;
  }

  .slider__item-img:nth-child(1) {
    max-width: 900px;
    height: 500px;
  }

  .slider__item-img:nth-child(2) {
    max-width: 280px;
    height: 440px;
  }

  .slider__item-img:nth-child(3) {
    max-width: 280px;
    height: 432px;
  }

  .info__content-images img {
    height: 200px;
  }
}

@media (max-width: 1450px) {
  .container {
    max-width: 1200px;
  }

  .footer__container {
    padding-top: 150px;
  }

  .hero__title {
    font-size: 200px;
    background: linear-gradient(220deg, rgba(255, 255, 255, 0.1) 25.51%, rgba(255, 255, 255, 0.2) 66.05%, #fff 71.37%, rgba(255, 255, 255, 0.14) 83.69%, rgba(255, 255, 255, 0.11) 104.92%);
  }

  .hero__text {
    font-size: 20px;
  }

  .prison__item-title {
    font-size: 46px;
  }

  .slider__item-img:nth-child(1) {
    max-width: 600px;
    height: 350px;
  }

  .slider__item-img:nth-child(1) {
    max-width: 500px;
    height: 300px;
  }

  .slider__item-img:nth-child(2) {
    max-width: 230px;
    height: 350px;
    right: 35%;
  }

  .slider__item-img:nth-child(3) {
    max-width: 240px;
    height: 382px;
    right: 10%;
  }

  .partners__title {
    font-size: 60px;
    margin-bottom: 50px;
  }

  .info__content-images img {
    height: 170px;
  }
}

@media (max-width: 1350px) {
  .prison__item {
    width: 50%;
    height: 50vh;
  }

  .prison__item-title {
    text-align: center;
    bottom: auto;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .prison {
    height: auto;
  }

  .slider__item-img:nth-child(2) {
    right: auto;
    left: 25%;
  }

  .slider__item-img:nth-child(3) {
    max-width: 220px;
    height: 340px;
    top: 10%;
  }

  .info__content-images img {
    height: 160px;
  }
}

@media (max-width: 1300px) {
  .container {
    max-width: 1100px;
  }

  .slider {
    height: 800px;
    min-height: 800px;
    padding-top: 0;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 980px;
  }

  .footer__container {
    padding-top: 100px;
  }

  .partners__items {
    grid-column-gap: 100px;
  }

  .info__content-images img {
    height: 200px;
  }

  .info__content-images {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992.9px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .header__nav::before {
    width: 100%;
    max-width: unset;
  }

  .header__nav {
    right: auto;
    width: 100%;
  }

  .hero__title {
    font-size: 150px;
    background: linear-gradient(220deg, rgba(255, 255, 255, 0.1) 25.51%, rgba(255, 255, 255, 0.2) 68.05%, #fff 71.37%, rgba(255, 255, 255, 0.14) 83.69%, rgba(255, 255, 255, 0.11) 104.92%);
  }

  .hero__text {
    margin-top: 20px;
  }

  .slider__item-img:nth-child(1) {
    max-width: 400px;
    height: 250px;
  }

  .slider__item-img:nth-child(2) {
    max-width: 180px;
    height: 270px;
  }

  .slider__item-img:nth-child(3) {
    max-width: 200px;
    height: 300px;
  }

  .slider__item span {
    font-size: 20px;
  }

  .slider__item:nth-child(2n+2) .slider__item-img:nth-child(2) {
    top: 40%;
    right: 40%;
  }

  .slider__item:nth-child(2n+2) .slider__item-img:nth-child(3) {
    bottom: 30%;
  }

  .partners__items {
    grid-column-gap: 50px;
  }

  .info__container {
    padding-bottom: 40px;
  }

  .info__content-data {
    width: 100%;
    margin-right: 0;
  }

  .info__content-images img {
    height: 190px;
  }

  .info__content {
    flex-direction: column-reverse;
    row-gap: 40px;
  }
}

@media (max-width: 768px) {
  .footer__container {
    padding-top: 50px;
  }

  .footer__items {
    flex-direction: column;
    row-gap: 24px;
  }

  .hero__title {
    font-size: 130px;
    background: linear-gradient(220deg, rgba(255, 255, 255, 0.1) 69.51%, rgba(255, 255, 255, 0.2) 72.05%, #fff 77.37%, rgba(255, 255, 255, 0.14) 86.69%, rgba(255, 255, 255, 0.11) 104.92%);
  }

  .hero__elems {
    margin-bottom: 65px;
  }

  .prison__item-title {
    font-size: 40px;
    white-space: unset;
  }

  .slider__nav {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px 10px #000;
  }

  .slider__items {
    width: 100%;
  }

  .slider__item-img:nth-child(3) {
    right: -15%;
  }

  .slider__item:nth-child(2n+2) .slider__item-img:nth-child(3) {
    right: -20%;
  }

  .info__content-images img {
    height: 160px;
  }
}

@media (max-width: 720px) {
  .info__content-images img {
    height: 140px;
  }
}

@media (max-width: 650px) {
  .partners__items {
    grid-column-gap: 100px;
  }

  .partners__item {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
  }
}

@media (max-width: 620px) {
  .hero__title {
    background: linear-gradient(220deg, rgba(255, 255, 255, 0.2) 69.51%, rgba(255, 255, 255, 0.2) 72.05%, #fff 77.37%, rgba(255, 255, 255, 0.14) 86.69%, rgba(255, 255, 255, 0.11) 104.92%);
  }

  .hero__text {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .info__content-images img {
    height: 180px;
  }

  .info__content-images {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .prison__item {
    width: 100%;
    height: 25vh;
  }

  .prison__item-title {
    white-space: nowrap;
  }

  .slider {
    height: auto;
    min-height: auto;
    padding: 50px 0;
  }

  .slider__content {
    position: relative;
    transform: unset;
    top: auto;
    right: auto;
    overflow: unset;
    padding: 0 16px;
  }

  .slider__nav {
    margin-bottom: 50px;
  }

  .slider__items {
    height: auto;
    max-height: unset;
    overflow: unset;
  }

  .slider__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .slider__item-wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }

  .slider__item {
    flex-direction: row;
    -moz-column-gap: 2%;
         column-gap: 2%;
    flex-wrap: wrap;
    row-gap: 10px;
    width: 100%;
  }

  .slider__item-img:nth-child(1) {
    width: 100%;
    max-width: unset;
    height: auto;
  }

  .slider__item-img:nth-child(1)::before {
    display: block;
    content: "";
    padding-top: 50%;
  }

  .slider__item-img:nth-child(2) {
    max-width: unset;
    height: unset;
    width: 49%;
  }

  .slider__item-img:nth-child(2)::before {
    display: block;
    content: "";
    padding-top: 150%;
  }

  .slider__item-img:nth-child(3) {
    max-width: unset;
    height: unset;
    width: 49%;
  }

  .slider__item-img:nth-child(3)::before {
    display: block;
    content: "";
    padding-top: 150%;
  }

  .slider__item-img {
    position: relative;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
  }

  .slider__item span {
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    left: 0;
  }

  .slider__item:nth-child(2n+2) .slider__item-img:nth-child(3) {
    right: auto;
  }
}

@media (max-width: 550px) {
  .info__content-images img {
    height: 160px;
  }
}

@media (max-width: 480px) {
  .header__container {
    padding: 20px 0;
  }

  .header__menu span {
    display: none;
  }

  .header__lang {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }

  .header__lang-item {
    font-size: 16px;
  }

  .header__lang-down {
    display: block;
    color: #ffffff;
  }

  .hero__title {
    font-size: 120px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(220deg, rgba(255, 255, 255, 0.2) 75.51%, rgba(255, 255, 255, 0.2) 70.05%, #fff 82.37%, rgba(255, 255, 255, 0.14) 86.69%, rgba(255, 255, 255, 0.11) 104.92%);
  }

  .hero__text {
    font-size: 18px;
  }

  .hero__elems {
    margin-bottom: 15px;
    row-gap: 20px;
    flex-direction: column;
  }

  .partners__items {
    grid-column-gap: 50px;
  }

  .info__content-data {
    row-gap: 20px;
  }

  .info__content-images img {
    height: 140px;
  }
}

@media (max-width: 420px) {
  .header__logo {
    width: 90px;
  }

  .hero__title {
    width: 100%;
  }

  .hero__text {
    max-width: 100%;
  }

  .partners__items {
    grid-column-gap: 30px;
    grid-row-gap: 15px;
  }

  .info__content-images img {
    height: 230px;
  }

  .info__content-images {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 375px) {
  .info__content-images img {
    height: 210px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (max-height: 700px) {
  .header__nav {
    padding-top: 90px;
  }

  .header__nav-list {
    row-gap: 16px;
  }

  .header__nav-link {
    font-size: 16px;
  }
}